body{
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type=radio]{
    margin: 5px 10px;
}

input[type=number], input[type=tel],
input[type=email], input[type=text]{
    width: 30vw;
    padding: 10px 15px;
    margin: 20px 5vw;
    border-radius: 30px;
    border: 1px solid lightgray;
}

input[type=submit]{
    color: white;
    border: 1px solid #10A37F;
    font-weight: bolder;
    background-color: #10A37F;
    width: 30vw;
    border-radius: 30px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

input[type=submit]:hover{
    color: #10A37F;
    background-color: white;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

input[type=search]{
    width: 30vw;
    padding: 10px 15px;
    margin: 20px 1vw;
    border-radius: 30px;
    border: 1px solid lightgray;
}

button[type=submit]{
    color: white;
    border: 1px solid #10A37F;
    border-radius: 30px;
    padding: 10px;
    width: 5vw;
    background-color: #10A37F;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

button[type=submit]:hover{
    background-color: white;
    color: #10A37F;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: lightgray;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li{
    margin: 50px 0;
}

hr{
    color: lightgray;
}

form p{
    color: red;
}

table{  
    margin: auto;
    margin-top: 50px;
}

table tr:first-child td:first-child tr:last-child td:last-child{
    border-top-left-radius: 30px;
}

th, td{
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
}

td{
    background-color: whitesmoke;
}

.title{
    color: lightgray;
    margin: 20px 0;
}

.menu-wrapper{
    text-align: center;
}

.menu{
    background-color: #202123;
    height: 100vh;
    width: 20vw;
    float: left;
    padding: 0 3vw;
}

.menu p{
    color: darkgray;
}

.register-box{
    padding: 50px;
    text-align: center;
}

.list{
    padding: 50px;
    text-align: center;
}

.students-list-box{
    height: 60vh;
    overflow: auto;
}

.list h1{
    margin-bottom: 50px;
}

.copyright{ 
    color: lightgray;
    position: fixed;
    bottom: 0;
    width: 20vw;
    vertical-align: bottom;
}

